<div class="page-content">
  <h4 class="green col-6 issue-details-box spacing-below">
    <%= @issue.title %>
    <hr>
    <%= @issue.description %>
  </h4>
  <h4><%= link_to "Go to project board", project_path(@project), class: "green" %></h4>
</div>
