<div class="container">
  <div class="box text-center col-8">
    <h2 class="green spacing-below">Edit this project</h2>
    <%= simple_form_for @project, url: project_path(@project) do |f| %>
      <%= render partial: "project_form", locals: { f: f } %>
    <% end %>
  </div>
</div>
