<h1 class="green">

  <%= "Project name: #{@project.name}" %>

  <h4><%= link_to 'Edit this project', edit_project_path(@project), class: "green" %></h4>
  <br/>
  <h4><%= link_to "Delete this project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "green"%></h4>
  <br/>

  <h4><%= link_to 'Homepage', root_path, class: "green" %></h4>

</h1>
