@import "bootstrap/scss/bootstrap";

body {
  background-color: #0a0f18;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.header-color {
  background-color:  #101825;
}

.green {
  color: #00C122;
}

.cursor:hover {
  cursor: pointer;
}
