@import "bootstrap/scss/bootstrap";

body {
  background-color: #0a0f18;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.header-color {
  background-color:  #101825;
}

.green {
  color: #00C122;
}

.cursor:hover {
  cursor: pointer;
}

.header-element {
  padding: 14px;
}

.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
}

.spacing-below {
  margin-bottom: 25px;
}

.page-content {
  margin-left: 20px;
}
